* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #6c757d;
}

a,
a:hover,
a:focus,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}
